[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
requests = "*"

[packages]
django = "<2.3,>=2.2"
sentry-sdk = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-storages = "*"
boto3 = "*"
django-simple-email-auth = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
