{% extends "base.html" %}

{% load static %}


{% block extra_styles %}
    <link href="{% static 'landing/landing.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <main class="full-page background--primary">
        <section class="page-header color--white" id="intro">
            <div class="container">
                <h1 class="page-header__title">UltiManager</h1>
                <p class="page-header__lead">Take the pain out of managing your ultimate Frisbee team.</p>
            </div>
        </section>

        <section class="mail-form background--primary-dark color--white" id="email-form">
            <div class="container container--small">
                <h2>Sign up for Updates</h2>
                <p class="landing-note">
                    Sign up to be notified about the release of our beta.
                </p>

                <!-- Begin Mailchimp Signup Form -->
                <form action="https://ultimanager.us20.list-manage.com/subscribe/post?u=9e7397d652e14f6c0a5ee6869&amp;id=ae11db5603" method="post" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="form__control">
                        <label class="form__label" for="mce-EMAIL">Email Address</label>
                        <input class="form__input" id="mce-EMAIL" name="EMAIL" placeholder="me@example.com" required type="email">
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e7397d652e14f6c0a5ee6869_ae11db5603" tabindex="-1" value=""></div>
                    <div class="form__control">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--block btn--secondary-1">
                    </div>
                </form>

                <!--End mc_embed_signup-->
            </div>
        </section>
    </main>
{% endblock %}
